
stages:
  - plan
  - deploy

terraform-plan:
  stage: plan
  image: 
    name: hashicorp/terraform:latest
    entrypoint: [""]
  script:
    - terraform init
    - terraform plan -out=tfplan -destroy
  artifacts:
    paths:
      - tfplan
    expire_in: 1 hour

terraform-apply:
  stage: deploy
  image: 
    name: hashicorp/terraform:latest
    entrypoint: [""]
  script:
    - terraform init
    - terraform apply -auto-approve tfplan
  when: manual
  allow_failure: false
